@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
:root{
 --primary-color:#C70039;
 --secondary-color:grey;
}
body{
  background:#222;
  font-family: 'Roboto';
  color:#f2f2f2;
}

/** LISTAS **/
/** ====== **/
/* Menú  */
nav ul {
    list-style: none;
    padding: 0px;
    margin-left: 10px;
}
nav ul li {
    display: inline-block; 
    margin-right: 30px;
}

/* ... */

a{
    margin:10px;
    cursor:pointer;
    font-size:30px;  
    text-decoration: none;
}
/* ... */

/* Lista con viñeta centrada */
.centrar-listas {
	text-align: center;
}
.centrar-listas ul {
	text-align: left;
	display: inline-block;
}

/* Lista rayada */
ul.lista {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
}
ul.lista li {
    margin: 0;
    padding: 8px 10px;
    color: #111;
}	
/* ... */

/* Tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:var(--primary-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
/* ... */

/* Otras pruebas en los textos */
/* p:nth-child(odd){ font-size: 1.5em; color:var(--primary-color) } */
/* p:nth-child(2n+1){ font-size: 1.5em; color:var(--primary-color)} */

/* p:nth-child(even){ color:  var(--secondary-color)} */
/* p:nth-child(2n){ color:  var(--secondary-color)} */

/* p:first-child{ font-size: 1.5em; } 
p:last-child{ color:  var(--secondary-color) }
p:nth-child(3){ color:var(--primary-color) } */

/* p:nth-child(2n)::after {
    content: " - Continuará";
    color:  var(--primary-color);
}   */

/* algunos seudo-elementos mas*/
/* h1::first-letter{
    color: var(--primary-color);
} */
/* p::first-line{
    color: white;
} */
/* h1::selection{
    background-color: var(--primary-color);
} */

/* Dialogo-perrito */
.dialogo {
	background: var(--secondary-color);
	padding: 10px;
	color: #000;
	margin: 30px auto;
	border-radius: 15px;
	font-size: 18px;
	line-height: 28px;
    text-align: center;
    width: 200px;

	position: relative;
}
/* ... */


/*  Formularios */
form input {
    margin: 15px 15px 0 15px;
    order: 2;
}
input[type=submit],
input[type=reset] {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    width: unset;
}
/* ... */